body{
    background-color: rgba(0, 0, 0, 0.884);
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    margin: 10px;
}
h1{
    position: absolute;
    font-size: 70px;
    margin-top: 50px;
    margin-left: 250px;
    color: gold;
    border-color:blue;
    border-width: 10px;
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: black;
}
.new__form-container{
    display: flex;
    position: absolute;
    margin-top: 200px;
    margin-left: 50px;
    line-height: 30px;
    font-size: x-large;
    
}
.new__form-field{
    padding-right: 50px;
    padding-bottom: 40px;
}
.btn{
    cursor: pointer;
    border-width: 10px;
    border-color: gold;
}

 