body{
    background-color: rgba(0, 0, 0, 0.884);
}
h1 {
  position: absolute;
  margin-left: 250px;
  margin-top: 100px;
  float: inline-start;
  color: gold;
  font-size: 100px;
}
.b1 {
  position: relative;
  cursor: pointer;
  margin-top: 350px;
  margin-left: 300px;
  border-radius: 20px;
  border-width: 10px;
  border-color: rgba(247, 118, 208, 0.795);
  color: rgb(0, 53, 16);
  font-size: xx-large;
  line-height: 70px;
  
  
}
.b2 {
  cursor: pointer;
  margin-left: 200px;
  border-radius: 20px;
  border-width: 10px;
  border-color: rgba(247, 118, 208, 0.795);
  color: rgb(0, 53, 16);
  font-size: xx-large;
  line-height: 70px;
  
}
h2{
  padding: 60px;
  margin-left: 240px;
  color: burlywood;

}
